<div ng-if="$ctrl.isInternal" flex layout="row">
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-disable-backdrop>
        <ul>
            <li><a ui-sref="event.detail({eventName: $ctrl.eventShortName})">Event info</a>
            <li><a ui-sref="event.ticketsCategories({eventName: $ctrl.eventShortName})">Tickets and Categories</a>
            <li><a ui-sref="event.promoCodes({eventName: $ctrl.eventShortName})">Promo codes</a>
            <li><a ui-sref="event.additionalFields({eventName: $ctrl.eventShortName})">Additional fields</a>
            <li><a ui-sref="event.donationHandling({eventName: $ctrl.eventShortName})">Donations handling</a>
            <li><a ui-sref="event.composeMessage({eventName: $ctrl.eventShortName})">Compose message</a></li>
            <li><a ui-sref="event.checkIn({eventName: $ctrl.eventShortName})">Check in</a></li>
            <li><a ui-sref="event.waitingQueue({eventName: $ctrl.eventShortName})">Waiting queue</a></li>
            <li><a ui-sref="event.pendingReservations({eventName: $ctrl.eventShortName})">Pending reservations</a></li>
            <li><a ui-sref="event.emailLog({eventName: $ctrl.eventShortName})">Email log</a></li>
            <li><a ui-sref="event.pluginLog({eventName: $ctrl.eventShortName})">Plugin log</a></li>
            <li><a ui-sref="event.configuration({eventName: $ctrl.eventShortName})">Configuration</a></li>
        </ul>
    </md-sidenav>
</div>